<form [formGroup]="costCentersForm" class="cost-centers-form-container">
  <!-- Filtro por grupo -->
  <div class="filter-group-section">
    <h3>Filtrar por grupo</h3>
    <div class="groups-checkboxes-grid">
      <ng-container *ngFor="let group of costCenterGroups">
        <mat-checkbox
          [checked]="selectedGroups.includes(group.id)"
          (change)="
            $event.checked
              ? selectedGroups.push(group.id)
              : selectedGroups.splice(selectedGroups.indexOf(group.id), 1);
            onGroupSelectionChange()
          "
        >
          {{ group.id }} - {{ group.name }}
        </mat-checkbox>
      </ng-container>
    </div>
  </div>

  <hr />

  <!-- ¡Se ha eliminado el checkbox general para seleccionar todos! -->

  <!-- Checkboxes individuales -->
  <div class="cost-centers-list-grid">
    <ng-container *ngFor="let costCenter of visibleCostCenters">
      <mat-checkbox [formControlName]="costCenter.id">
        {{ costCenter.id }} - {{ costCenter.name }}
      </mat-checkbox>
    </ng-container>
  </div>
</form>