<form [formGroup]="basicDataForm">
  <h2>Datos personales del integrante</h2>
  <div class="form-section">
    <!-- Documento de Identidad -->
    <mat-form-field style="grid-row: 1; grid-column: 1">
      <mat-label>Documento de Identidad</mat-label>
      <input [formControl]="formControls.docId" matInput placeholder="11111111" />
      <mat-hint>Ingresa el documento de identidad</mat-hint>

      @if (formControls.docId.hasError('required') && formControls.docId.touched) {
        <mat-error>Debes ingresar el documento de identidad</mat-error>
      } @else if (formControls.docId.hasError('pattern') && formControls.docId.touched) {
        <mat-error>El documento de identidad solo debe contener números</mat-error>
      }
    </mat-form-field>

    <!-- Nombres -->
    <mat-form-field style="grid-row: 1; grid-column: 2">
      <mat-label>Nombres</mat-label>
      <input [formControl]="formControls.name" matInput placeholder="Pepito Antonio" />
      <mat-hint>Ingresa los nombres</mat-hint>

      @if (formControls.name.hasError('required') && formControls.name.touched) {
        <mat-error>Debes ingresar los nombres</mat-error>
      } @else if (formControls.name.hasError('whitespace') && formControls.name.touched) {
        <mat-error>El nombre no puede estar vacío o contener solo espacios</mat-error>
      }
    </mat-form-field>

    <!-- Apellidos -->
    <mat-form-field style="grid-row: 1; grid-column: 3">
      <mat-label>Apellidos</mat-label>
      <input [formControl]="formControls.lastName" matInput placeholder="Perez Perez" />
      <mat-hint>Ingresa los apellidos</mat-hint>

      @if (formControls.lastName.hasError('required') && formControls.lastName.touched) {
        <mat-error>Debes ingresar los apellidos</mat-error>
      } @else if (formControls.lastName.hasError('whitespace') && formControls.lastName.touched) {
        <mat-error>Los apellidos no pueden estar vacíos o contener solo espacios</mat-error>
      }
    </mat-form-field>

    <!-- Email -->
    <mat-form-field style="grid-row: 2; grid-column: 1">
      <mat-label>Email</mat-label>
      <input [formControl]="formControls.email" matInput placeholder="username@equitel.com.co" />
      <mat-hint>Ingresa el email</mat-hint>

      @if (formControls.email.hasError('required') && formControls.email.touched) {
        <mat-error>Debes ingresar el email</mat-error>
      } @else if (formControls.email.hasError('email') && formControls.email.touched) {
        <mat-error>El formato del email es inválido</mat-error>
      } @else if (formControls.email.hasError('invalidDomain') && formControls.email.touched) {
        <mat-error>El email ingresado no es valido</mat-error>
      } @else if (formControls.email.hasError('repeatedEmail') && formControls.email.touched) {
        <mat-error>Ya existe un usuario con este email</mat-error>
      }
    </mat-form-field>

    <!-- Celular -->
    <mat-form-field style="grid-row: 2; grid-column: 2">
      <mat-label>Celular</mat-label>
      <input [formControl]="formControls.phoneNumber" matInput placeholder="3101010101" />
      <mat-hint>Ingresa el número telefónico</mat-hint>

      @if (formControls.phoneNumber.hasError('required') && formControls.phoneNumber.touched) {
        <mat-error>Debes ingresar el número telefónico</mat-error>
      } @else if (formControls.phoneNumber.hasError('pattern') && formControls.phoneNumber.touched) {
        <mat-error>El número telefónico solo puede contener números</mat-error>
      } @else if (formControls.phoneNumber.hasError('minlength') && formControls.phoneNumber.touched) {
        <mat-error>El número telefónico debe tener 10 caracteres</mat-error>
      } @else if (formControls.phoneNumber.hasError('maxlength') && formControls.phoneNumber.touched) {
        <mat-error>El número telefónico debe tener 10 caracteres</mat-error>
      }
    </mat-form-field>

    <mat-checkbox class="is-technician-checkbox" [formControl]="formControls.isTechnician">
      ¿Es técnico?
    </mat-checkbox>
  </div>

  <h2>Datos laborales del integrante</h2>
  <div class="form-section">
    <mat-form-field style="grid-row: 1; grid-column: 1">
      <mat-label>Empresa</mat-label>
      <mat-select [formControl]="formControls.company">
        <ng-container *ngFor="let company of companies">
          <mat-option [value]="company.nit">{{ company.name }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>Selecciona la empresa</mat-hint>
      <mat-error *ngIf="formControls.company.errors?.['required']">Debes seleccionar una empresa</mat-error>
    </mat-form-field>

    <mat-form-field style="grid-row: 1; grid-column: 2">
      <mat-label>Ciudad</mat-label>
      <mat-select [formControl]="formControls.operationCenter">
        <ng-container *ngFor="let operationCenter of operationCenters">
          <mat-option [value]="operationCenter.id">{{ operationCenter.name }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>Selecciona la ciudad</mat-hint>
      <mat-error *ngIf="formControls.operationCenter.errors?.['required']">Debes seleccionar una ciudad</mat-error>
    </mat-form-field>

    <mat-form-field style="grid-row: 1; grid-column: 3">
      <mat-label>Unidad de Negocio</mat-label>
      <mat-select [formControl]="formControls.unitDeal" (selectionChange)="onUnitDealChange($event)">
        <ng-container *ngFor="let unit of unitDeals">
          <mat-option [value]="unit.id">{{ unit.name }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>Selecciona la unidad de negocio</mat-hint>
      <mat-error *ngIf="formControls.unitDeal.errors?.['required']">Debes seleccionar una unidad de negocio</mat-error>
    </mat-form-field>

    <mat-form-field style="grid-row: 1; grid-column: 4">
      <mat-label>Centro de Costo</mat-label>
      <mat-select [formControl]="formControls.costCenter">
        <ng-container *ngFor="let costCenter of costCenters.getValue()">
          <mat-option [value]="costCenter.id">{{ costCenter.id }} - {{ costCenter.name }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-hint>Selecciona el centro de costo</mat-hint>
      <mat-error *ngIf="formControls.costCenter.errors?.['required']">Debes seleccionar un centro de costo</mat-error>
    </mat-form-field>

    <ng-container *ngIf="!formControls.isTechnician.value">
      <mat-form-field style="grid-row: 2; grid-column: 1">
        <mat-label>Cargo</mat-label>
        <input [formControl]="formControls.position" matInput placeholder="Analista de Sistemas" />
        <mat-hint>Ingresa el cargo</mat-hint>
        @if (formControls.position.errors?.["required"]) {
          <mat-error>Debes ingresar un cargo</mat-error>
        } @else if (formControls.position.errors?.["whitespace"]) {
          <mat-error>El cargo no puede estar vacío o contener solo espacios</mat-error>
        }
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="formControls.isTechnician.value">
      <mat-form-field style="grid-row: 2; grid-column: 1">
        <mat-label>Cargo</mat-label>
        <input [formControl]="formControls.position" matInput readonly />
      </mat-form-field>
    </ng-container>

    <ng-container *ngIf="!formControls.isTechnician.value">
     <mat-form-field style="grid-row: 2; grid-column: 2">
  <mat-label>Usuario Anterior</mat-label>
  <input
    [matAutocomplete]="replacement"
    [formControl]="formControls.previousUser"
    matInput
    placeholder="Escribe el nombre y selecciona una opción"
  />
  <mat-autocomplete #replacement="matAutocomplete" (optionSelected)="onReplacementSelection($event)" autoActiveFirstOption="true">
    <ng-container *ngFor="let user of replacementUsers">
      <mat-option [value]="user.name">{{ user.name }}</mat-option>
    </ng-container>
  </mat-autocomplete>
  <mat-hint>Ingresa al menos 3 letras para buscar</mat-hint>

  @if (formControls.previousUser.errors?.["required"]) {
    <mat-error>Debes seleccionar un usuario</mat-error>
  } @else if (formControls.previousUser.errors?.["notInList"]) {
    <mat-error>Debes seleccionar un usuario válido de la lista</mat-error>
  }
</mat-form-field>

    </ng-container>

    <ng-container *ngIf="!formControls.isTechnician.value">
      <mat-form-field style="grid-row: 2; grid-column: 3">
        <mat-label>Perfil</mat-label>
        <input [formControl]="formControls.profile" matInput readonly />
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="formControls.isTechnician.value">
      <mat-form-field style="grid-row: 2; grid-column: 2">
        <mat-label>Perfil</mat-label>
        <input [formControl]="formControls.profile" matInput readonly />
      </mat-form-field>
    </ng-container>
  </div>
</form>